.expanded-table {
  .ant-table-thead > tr > th {
    background-color: #fff;
  }
  .ant-pro-card-body {
    padding: 0 10px 10px 10px;
  }
}
.item0 .ant-form-item .ant-form-item {
  margin-bottom: 0;
}
.pro-v {
  .ant-space {
    gap: 0 6px !important;
  }
}
.change-title {
  display: flex;
  h1 {
    margin-right: 30px;
  }
  p {
    margin-top: 7px;
  }
}
.both-style {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #d46b08;
}

.add-color {
  color: #d46b08;
  .ant-form-item-control,
  label {
    color: #d46b08;
  }
}
.before-item,
.after-item {
  & > div:last-child {
    .ant-form-item {
      .ant-form-item-control-input-content {
        margin-top: 4px;
      }
    }
  }
  .change-title-item {
    padding-right: 20px;
    color: #282828;
    font-size: 16px;
  }
}
